main {
  background-color: #f7f9fc;
  width: 100%;
  margin-left: 0;
  transition: all 250ms;
}
main.shrinked {
  width: calc(100% - 320px);
  margin-left: 320px;
}
.filters {
  padding: 25px;
  padding-bottom: 15px;
  transition: all 300ms;
}
.filters-toggler span {
  transform: rotate(180deg);
  transition: transform 300ms;
}
.filters.collapsed + .filters-toggler span {
  transform: rotate(0deg);
}
.filters.collapsed {
  height: 0;
  overflow: hidden;
  padding: 0;
}
.filters input {
  border: 1px solid #e9eaed;
  padding: 12px 20px 12px 20px;
  color: #6c6c6d;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.filters input::placeholder {
  color: #909398;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  transition: opacity 400ms;
}
.filters input:focus::placeholder {
  opacity: 0;
}
.filters select {
  border: 1px solid #e9eaed !important;
  padding: 5px 20px;
  color: #6c6c6d;
  border-radius: 5px !important;
  font-size: 14px;
  outline: none;
}
.filters button.searchBtn {
  border: 1px solid #105ce7;
  color: #ffffff;
  font-weight: 500;
  background-color: #105ce7;
  padding: 10px 10px 10px 43px;
  border-radius: 5px;
  outline: none;
  height: 35px;
  cursor: pointer;
  transition: all 250ms;
}
.filters button.searchBtn span {
  margin-left: 0;
  opacity: 0;
  transition: all 250ms;
}
.filters button.searchBtn:hover {
  color: rgb(46, 46, 46);
  background-color: rgba(238, 238, 238, 0.58);
  padding: 10px 35px 10px 37px;
  border: 1px solid rgb(67 142 255 / 22%);
}
.filters button.searchBtn:hover > span {
  margin-left: 11px !important;
  opacity: 1;
}
button.search {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 9px;
  left: 13px;
  border-radius: 21px;
  padding: 5px;
  outline: none;
  cursor: pointer;
}

button.search span {
  font-size: 26px;
  color: #9093a5;
}

button.btn-create-job {
  background-color: #2b7cf5;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 12px;
  padding: 15px 30px;
  border-radius: 30px;
  outline: none;
  height: 40px;
  cursor: pointer;
}

div.new-notification {
  width: 10px;
  height: 10px;
  background-color: #438eff;
  border-radius: 10px;
  position: absolute;
  right: 5px;
  top: 0px;
}

.panel {
  background-image: linear-gradient(to right, #f5f7fb, #fdfefe);
  overflow-y: auto;
  height: calc(100vh - 57px);
  // padding: 15px 30px 0 30px;
}
.custom-breadcrumb {
  padding: 15px 25px;
}
.panel-header h3.title {
  font-size: 24px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: #373c44;
}

.custom-breadcrumb span {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #888c94;
  cursor: pointer;
}

.custom-breadcrumb span.active {
  color: #4891ff;
}

.project-info ul p {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  color: #444a50;
  margin-left: 10px;
}

.project-info ul li {
  margin: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.project-info ul span {
  font-size: 22px;
  color: #d0d9e1;
}

.tab-navs ul:first-child {
  font-size: 16px;
  font-weight: 700;
  color: #7e838a;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  position: relative;
  bottom: -2px;
}

.tab-navs ul li {
  padding: 10px 0 20px 0;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.tab-navs ul li.active {
  border-color: #438eff;
  color: #242526;
}

.content {
  height: calc(100vh - 200px);
  min-height: 400px;
  padding: 20px 13px 27px 13px;
  // width: calc(100vw - 345px);
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  gap: 25px;
}
/* .tab-card-content:not(.tab-card-content:last-child) {
  margin-bottom: 10px;
} */
@media (min-width: 1280px) {
  .filters.collapsed {
    height: max-content;
    padding: 25px;
    padding-bottom: 15px;
  }
}
@media (max-width: 1279px) {
  .panel {
    height: calc(100vh - 49px) !important;
  }
}
